body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    overflow: hidden;
    color: #24292e;
}
a {
    color: #0366d6;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
pre {
    font-size: 14px;
    font-family: "Roboto Mono", monospace;
}
