.panel {
    border-width: 0;
    box-shadow: none;
}
.panel .panel-heading {
    background-color: #f6f8fa !important;
    border-radius: 3px 3px 0 0;
    border: 1px solid rgba(27,31,35,0.15);
    padding: 7px 14px !important;
}
.panel .panel-heading a {}
.panel .collapse {}
.panel .panel-body .list_container .list_placeholder {
    padding: 1px 7px;
}
.panel .panel-body .row {
    background-color: #fffdef;
    border-color: #d1d5da;
    border-style: solid;
    border-width: 0 1px 1px;
}
.panel .panel-body .row:last-child {
    border-radius: 0 0 3px 3px;
    border-bottom: solid #d1d5da 1px !important;
}
.panel .panel-body .row > div {
    padding: 6px 7px;
}

.panel .panel-body .list_item .kernel-name {
    color: #586069;
}
.panel .panel-body .list_item .btn {
    border-radius: 0.25em;
    border-color: transparent;
    min-width: 0;
    padding: 1px 8px;
}
.panel .panel-body .list_item .item_modified {
    color: #6a737d;
}
